mixin input(type,name,placeholder,input)
  .input-group
    .input-group-prepend
      span.input-group-text(class=`${input}`)
    input(type=`${type}` name=name class='form-control' id=name placeholder=placeholder)&attributes(attributes)